@charset "UTF-8";
.request__button {
  position: relative;
  left: -10px;
  min-height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer
}
.request__button .request__text {
  position: relative;
  z-index: 2;
  color: var(--color_white);
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  white-space: nowrap;
  transition: color .2s ease-out
}
.request__button .request__bg {
  position: absolute;
  right: 10px;
  top: 0;
  width: calc(100% - 20px);
  min-height: 60px;
  background-color: var(--color_brown);
  -webkit-transform: skewX(-17deg);
  transform: skewX(-17deg);
  transition: box-shadow .2s ease-out
}
.request__button .request__line {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  min-height: 60px;
  background-color: var(--color_white);
  -webkit-transform: skewX(-17deg);
  transform: skewX(-17deg);
  transition: box-shadow .2s ease-out
}
.request__button:hover .request__text {
  color: #737f96
}
.request__button:hover .request__bg {
  box-shadow: inset 100vw 0 0 0 #e1cda8,0 0 20px 2px var(--color_brown)
}
.request__button:hover .request__line {
  box-shadow: 0 0 20px 2px var(--color_white)
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  outline: 0;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
:root {
  --color_white: #fff;
  --color_black: #171717;
  --color_dark_bg: #131313;
  --color_brown: #c2ab81;
  --color_grey: #666;
  --color_font_stroke: #808080;
  --montserrat: "Montserrat",sans-serif;
  --mulish: "Mulish",sans-serif;
  --transition: all 0.2s ease-out
}
* {
  box-sizing: border-box
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--color_white);
  background: var(--color_dark_bg);
  font-family: var(--montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
body.lock {
  overflow: hidden
}
.container {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 100px
}
@media only screen and (max-width:1700px) {
  .container {
    padding: 0 80px
  }
}
@media (max-width:1599px) {
  .container {
    padding: 0 60px
  }
}
@media (max-width:1279px) {
  .container {
    padding: 0 40px
  }
}
@media (max-width:575px) {
  .container {
    padding: 0 15px
  }
}
a {
  color: inherit;
  text-decoration: none;
  outline: 0
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline
}
ol,
ul {
  list-style: none
}
button,
input {
  font-family: var(--montserrat);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: transparent
}
:active,
:focus,
:hover {
  outline: 0;
  outline-offset: 0
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 28px 0
}
@media (max-width:575px) {
  .header {
    padding: 15px 0 18px
  }
}
.header.hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}
.header.hide.fixed {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: var(--color_dark_bg);
  transition: var(--transition);
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.header__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:1599px) {
  .header__wrapper {
    padding: 0 12px
  }
}
@media (max-width:575px) {
  .header__wrapper {
    padding: 0 0 0 3px
  }
}
.header__panel {
  position: relative;
  z-index: 11;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 94px;
  margin-right: 76px
}
@media (max-width:1599px) {
  .header__panel {
    margin-right: 0
  }
}
@media (max-width:767px) {
  .header__panel {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
.header__burger {
  position: relative;
  display: none;
  width: 31px;
  height: 19px;
  cursor: pointer
}
@media (max-width:1599px) {
  .header__burger {
    display: block
  }
}
.header__burger span,
.header__burger::after,
.header__burger::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color_white);
  border-radius: 3px;
  transition: var(--transition)
}
.header__burger span {
  top: 8px
}
.header__burger::before {
  content: "";
  top: 0;
  max-width: 16px
}
.header__burger::after {
  content: "";
  bottom: 0;
  max-width: 22px
}
.header__burger:hover::after,
.header__burger:hover::before {
  max-width: 100%
}
.header__logo {
  display: block;
  width: 156px;
  height: 60px
}
@media (max-width:575px) {
  .header__logo {
    width: 112px;
    height: 38px
  }
}
.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.header__menu {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
@media (max-width:1599px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 100%;
    height: 100vh;
    padding-top: 116px;
    background-color: var(--color_dark_bg);
    overflow: hidden;
    transition: var(--transition)
  }
  .header__menu.active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
}
@media (max-width:575px) {
  .header__menu {
    padding-top: 71px
  }
}
@media (max-width:1599px) {
  .header__menu-wrapper {
    height: 100%;
    padding: 0 49px;
    overflow: auto
  }
}
@media (max-width:575px) {
  .header__menu-wrapper {
    padding: 0 18px
  }
}
.header__list::after {
  content: "";
  clear: both
}
.header__list li {
  position: relative;
  float: left;
  margin-right: 42px
}
@media only screen and (max-width:1700px) {
  .header__list li {
    margin-right: 32px
  }
}
@media (min-width:1600px) {
  .header__list li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color_white);
    -webkit-transform: scale(.9);
    transform: scale(.9);
    opacity: 0;
    transition: var(--transition)
  }
}
.header__list li:hover:before {
  -webkit-transform: scale(1) translateY(4px);
  transform: scale(1) translateY(4px);
  opacity: 1
}
.header__list a {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  white-space: nowrap
}
@media (max-width:1599px) {
  .header__list {
    padding: 59px 0
  }
  .header__list li {
    float: none;
    margin-bottom: 15px
  }
  .header__list a {
    position: relative;
    font-size: 36px;
    color: var(--color_dark_bg);
    transition: var(--transition)
  }
  .header__list a::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-text-fill-color: var(--color_dark_bg);
    -webkit-text-stroke: 2px var(--color_font_stroke)
  }
  .header__list a:hover {
    color: var(--color_white)
  }
}
@media (max-width:575px) {
  .header__list {
    padding: 0 0 35px 0
  }
  .header__list a {
    font-size: 20px
  }
  .header__list a::after {
    -webkit-text-stroke: 1px var(--color_font_stroke)
  }
}
.header__feedback {
  display: none
}
@media (max-width:767px) {
  .header__feedback {
    display: block;
    padding: 0 10px 21px
  }
  .header__feedback .header__phone {
    width: 100%;
    margin-bottom: 15px
  }
  .header__feedback .header__phone span {
    -webkit-transform: skewX(-19deg);
    transform: skewX(-19deg);
    background-color: var(--color_dark_bg)
  }
  .header__feedback .header__button {
    position: relative;
    left: 0;
    width: 100%
  }
  .header__feedback .header__button .request__bg {
    width: 100%;
    right: unset;
    -webkit-transform: skewX(-19deg);
    transform: skewX(-19deg)
  }
  .header__feedback .header__button .request__line {
    display: none
  }
  .header__feedback .header__button .request__text {
    position: relative;
    left: 8px
  }
}
@media (max-width:575px) {
  .header__feedback .header__phone {
    margin-bottom: 6px
  }
}
.header__buttons {
  position: relative;
  z-index: 11;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 34px
}
@media (max-width:1023px) {
  .header__buttons {
    position: relative;
    top: 2px;
    gap: 7px
  }
}
@media (max-width:767px) {
  .header__buttons {
    display: none
  }
}
.header__phone {
  position: relative;
  width: 74px;
  min-height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.header__phone svg {
  position: relative;
  z-index: 2
}
.header__phone span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 60px;
  border: 1px solid var(--color_brown);
  -webkit-transform: skewX(-17deg);
  transform: skewX(-17deg);
  transition: box-shadow .2s ease-out;
  overflow: hidden
}
.header__phone:focus span,
.header__phone:hover span {
  box-shadow: 0 0 10px 0 var(--color_brown) inset,0 0 20px 2px var(--color_brown)
}
.header__button.request__button {
  padding: 10px 78px
}
@media (max-width:1023px) {
  .header__button.request__button {
    padding: 10px 38px
  }
}
.main {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.intro {
  height: 100vh;
  min-height: 700px;
  padding-top: 116px
}
@media (max-width:575px) {
  .intro {
    min-height: 500px;
    padding-top: 71px
  }
}
.intro__container {
  position: relative;
  height: 100%;
  border-radius: 60px 60px 0 0;
  overflow: hidden
}
.intro__container .container {
  position: relative;
  z-index: 2;
  height: 100%
}
@media (max-width:767px) {
  .intro__container {
    border-radius: 30px 30px 0 0
  }
}
.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url(../images/intro/intro-bg-1920.png) center/cover no-repeat
}
@media (max-width:1023px) {
  .intro__bg {
    background: url(../images/intro/intro-bg-768.png) center/cover no-repeat
  }
}
@media (max-width:575px) {
  .intro__bg {
    background: url(../images/intro/intro-bg-360.png) center/cover no-repeat
  }
}
.intro__wrapper {
  height: 100%;
  max-width: 686px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 158px 0 96px
}
@media (max-width:1023px) {
  .intro__wrapper {
    padding: 124px 8px 76px
  }
}
@media (max-width:575px) {
  .intro__wrapper {
    padding: 52px 0
  }
}
.intro__title {
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 700;
  line-height: 121%;
  text-transform: uppercase
}
@media (max-width:1023px) {
  .intro__title {
    font-size: 38px
  }
}
@media (max-width:575px) {
  .intro__title {
    margin-bottom: 20px;
    font-size: 20px
  }
}
.intro__text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400
}
@media (max-width:1023px) {
  .intro__text {
    max-width: 447px;
    line-height: 24px
  }
}
@media (max-width:575px) {
  .intro__text {
    max-width: 293px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px
  }
}
.intro__button.request__button {
  position: relative;
  left: 0;
  padding: 10px 78px
}
@media (max-width:575px) {
  .intro__button.request__button {
    left: -4px;
    min-height: 47px;
    padding: 10px 48px
  }
  .intro__button.request__button .request__bg,
  .intro__button.request__button .request__line {
    min-height: 47px
  }
}
.cards {
  padding: 134px 0 256px
}
@media (max-width:1023px) {
  .cards {
    padding: 44px 0 156px
  }
}
@media (max-width:575px) {
  .cards {
    padding: 48px 0 43px
  }
}
.cards__title {
  margin-bottom: 53px;
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
  text-transform: uppercase
}
@media (max-width:1023px) {
  .cards__title {
    margin-bottom: 40px
  }
}
@media (max-width:575px) {
  .cards__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px
  }
}
.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 30px;
  margin-bottom: 60px
}
@media only screen and (max-width:1900px) {
  .cards__wrapper {
    grid-template-columns: repeat(4,1fr)
  }
}
@media only screen and (max-width:1499px) {
  .cards__wrapper {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (max-width:1023px) {
  .cards__wrapper {
    grid-template-columns: repeat(2,1fr);
    gap: 24px 20px
  }
}
@media (max-width:767px) {
  .cards__wrapper {
    grid-template-columns: 1fr;
    gap: 20px 0
  }
}
@media (max-width:575px) {
  .cards__wrapper {
    margin-bottom: 38px
  }
}
.card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--color_white)
}
.card__picture {
  height: 185px;
  overflow: hidden
}
.card__picture img {
  display: block;
  width: 101%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.card__descr {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 24px 30px
}
.card__intro {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  justify-self: flex-start
}
.card__heading {
  margin-bottom: 20px;
  color: var(--color_black);
  font-size: 14px;
  font-family: var(--mulish);
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1.5px;
  text-transform: uppercase
}
.card__heading::after {
  content: " "
}
.card__subheading {
  max-width: 252px;
  margin-bottom: 20px;
  color: var(--color_black);
  font-size: 16px;
  line-height: 26px
}
.card__text {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 20px;
  color: var(--color_grey);
  font-size: 14px;
  line-height: 24px
}
.card__info {
  margin-bottom: 20px;
  color: var(--color_grey);
  font-size: 12px;
  line-height: 24px
}
.card__continue {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  background-color: var(--color_black);
  transition: var(--transition)
}
.card__continue:focus,
.card__continue:hover {
  box-shadow: 0 0 15px 2px var(--color_black)
}
.cards__more {
  margin: 0 auto;
  left: -7px;
  padding: 10px 88px
}
.cards__more.disabled {
  cursor: default;
  opacity: .7
}
.cards__more.disabled .request__bg {
  background-color: #777
}
.cards__more.disabled:hover .request__text {
  color: var(--color_white)
}
.cards__more.disabled:hover .request__bg {
  box-shadow: none
}
.cards__more.disabled:hover .request__line {
  box-shadow: none
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  pointer-events: none
}
.popup.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all
}
.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.4)
}
.popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 2;
  width: 40vw;
  min-width: 300px;
  max-width: 700px;
  height: 40vh;
  min-height: 400px;
  max-height: 500px;
  padding: 50px 30px;
  box-shadow: 0 0 20px 2px var(--color_brown);
  border-radius: 30px;
  background-color: var(--color_white);
  overflow: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
@media (max-width:1279px) {
  .popup__wrapper {
    width: 60vw
  }
}
@media (max-width:1023px) {
  .popup__wrapper {
    width: 70vw
  }
}
@media (max-width:767px) {
  .popup__wrapper {
    width: 90vw;
    padding: 45px 20px
  }
}
@media (max-width:575px) {
  .popup__wrapper {
    width: 96vw;
    height: 80vh;
    min-height: 400px;
    max-height: 500px;
    padding: 45px 12px 20px
  }
}
.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  cursor: pointer
}
.popup__title {
  margin-bottom: 40px;
  font-size: 32px;
  color: var(--color_black)
}
@media (max-width:1023px) {
  .popup__title {
    font-size: 32px
  }
}
@media (max-width:575px) {
  .popup__title {
    font-size: 24px
  }
}
.popup__form {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.popup__error {
  display: none;
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 12px;
  color: red
}
.popup__error.active {
  display: block
}
.popup__item {
  position: relative;
  margin-bottom: 30px
}
.popup__item:nth-child(3) {
  margin-bottom: 50px
}
.popup__label {
  font-size: 14px;
  line-height: 150%;
  color: var(--color_black)
}
.popup__input {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 150%
}
.popup__input:focus + .popup__line {
  opacity: 1
}
.popup__line {
  display: block;
  width: 100%;
  height: 1px;
  opacity: .3;
  background-color: var(--color_black)
}
.popup__line.error {
  opacity: 1;
  background-color: red
}
.popup__button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  color: var(--color_white);
  background-color: var(--color_black);
  transition: var(--transition);
  cursor: pointer
}
.popup__button:focus,
.popup__button:hover {
  box-shadow: 0 0 15px 2px var(--color_black)
}
.animated .header {
  opacity: 0
}
.animated .intro__bg {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.animated .intro__text,
.animated .intro__title {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px)
}
.animated .intro__button {
  opacity: 0;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px)
}
.header {
  transition: opacity .8s ease-out;
  transition-delay: .5s
}
.intro__bg {
  transition: -webkit-transform 1.6s ease-out;
  transition: transform 1.6s ease-out;
  transition: transform 1.6s ease-out,-webkit-transform 1.6s ease-out;
  transition-delay: .2s
}
.intro__title {
  transition: opacity .3s ease-out,-webkit-transform .3s ease-out;
  transition: transform .3s ease-out,opacity .3s ease-out;
  transition: transform .3s ease-out,opacity .3s ease-out,-webkit-transform .3s ease-out;
  transition-delay: .6s
}
.intro__text {
  transition: opacity .3s ease-out,-webkit-transform .3s ease-out;
  transition: transform .3s ease-out,opacity .3s ease-out;
  transition: transform .3s ease-out,opacity .3s ease-out,-webkit-transform .3s ease-out;
  transition-delay: .8s
}
.intro__button {
  transition: opacity .4s ease-out,-webkit-transform .4s ease-out;
  transition: transform .4s ease-out,opacity .4s ease-out;
  transition: transform .4s ease-out,opacity .4s ease-out,-webkit-transform .4s ease-out;
  transition-delay: 1.2s
}
/*# sourceMappingURL=maps/main.css.map */
