extends base/_layout
block head
    title Magwai
block page

    section.intro
        .intro__container
            .intro__bg
            .container
                .intro__wrapper
                    h1.intro__title Полет Илона Маска #[br]и DOGIE COIN
                    p.intro__text В прошлый четверг все офигели от полета DOGIE COIN на марс.
                    +button_brown('ОСТАВИТЬ ЗАЯВКУ', 'intro__button request__btn')

    section.cards
        .container
            h2.cards__title Карточки
            .cards__wrapper

                - 
                    const cardsData = [
                        {cardName: 'bridge', imgUrl: '1'},
                        {cardName: 'Water', imgUrl: '2'},
                        {cardName: 'bridge', imgUrl: '3'},
                        {cardName: 'bridge', imgUrl: '4'},
                        {cardName: 'bridge', imgUrl: '5'},
                        {cardName: 'forest', imgUrl: '6'},
                        {cardName: '', imgUrl: '7'},
                        {cardName: 'nature', imgUrl: '8'},
                        {cardName: 'nature', imgUrl: '9'},
                        {cardName: 'nature', imgUrl: '10'},
                    ]

                each item in cardsData
                    +card(item.cardName, item.imgUrl)


            +button_brown('ЗАГРУЗИТЬ ЕЩЕ', 'cards__more')

    section.popup
        .popup__overlay
        .popup__wrapper

            button.popup__close(type="button" aria-label='Закрыть')
                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M1.5 1.57617L22.5 22.5762M22.5 1.57617L1.5 22.5762" stroke="#131313" stroke-width="2")

            h2.popup__title Вы можете оставить заявку

            form.popup__form(action="#" novalidate)

                .popup__item
                    p.popup__error(aria-live="polite")
                    label.popup__label Name*
                        input.popup__input(type="text" placeholder="Type your name" name="name" autocomplete="off" minlength="3" required)
                    span.popup__line

                .popup__item
                    p.popup__error(aria-live="polite")
                    label.popup__label Phone*
                        input.popup__input#phoneInput(type="text" placeholder="Type your phone number." name="phone" minlength="16" autocomplete="off" required)
                    span.popup__line

                button.popup__button(type="submit" aria-label='Отправить форму') Отправить

