extends base/_layout
block head
    title Magwai
block page

    section.intro
        .intro__container
            .container
                .intro__wrapper
                    h1.intro__title Полет Илона Маска #[br]и DOGIE COIN
                    p.intro__text В прошлый четверг все офигели от полета DOGIE COIN на марс.
                    +button_brown('ОСТАВИТЬ ЗАЯВКУ', 'intro__button')
