mixin card(cardName, imgUrl)
    .cards__item.card
        .card__picture
            +picture('/cards/card-' + imgUrl, 'png', 'x2')

        .card__descr
            .card__intro
                .card__heading= cardName
                p.card__subheading How to increase your productivity with a Music
            p.card__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem santium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolo…

            .card__additional
                p.card__info Posted by #[b.card__author Eugenia], on #[span.card__date July  24, 2019]

                a.card__continue(href="#") Continue reading
