header.header
    .container
        .header__wrapper

            .header__panel

                .header__burger: span

                a.header__logo(href="#")
                    img(src="./images/logo.svg" alt="logo")

            nav.header__menu
                .header__menu-wrapper
                    ul.header__list
                        -
                            const menuList = [
                                "УСЛУГИ",
                                "АБОНЕМЕНТЫ",
                                "ПОЧЕМУ МЫ",
                                "ОБОРУДОВАНИЕ",
                                "АКЦИИ",
                                "FAQ",
                                "КОНТАКТЫ"
                            ]
                        each item in menuList
                            li: a(href="#" data-text= item)= item

                    .header__feedback

                        a.header__phone(href="#")
                            span
                            include ./_icon_phone

                        +button_brown('ОСТАВИТЬ ЗАЯВКУ', 'header__button')

            .header__buttons

                a.header__phone(href="#")
                    span
                    include ./_icon_phone

                +button_brown('ОСТАВИТЬ ЗАЯВКУ', 'header__button')
