header.header
    .container
        .header__wrapper

            .header__panel

                .header__burger: span

                img.header__logo(src="./images/logo.svg" alt="logo")

            nav.header__menu
                ul.header__list
                    li: a(href="#") УСЛУГИ
                    li: a(href="#") АБОНЕМЕНТЫ
                    li: a(href="#") ПОЧЕМУ МЫ
                    li: a(href="#") ОБОРУДОВАНИЕ
                    li: a(href="#") АКЦИИ
                    li: a(href="#") FAQ
                    li: a(href="#") КОНТАКТЫ

                .header__feedback

                    a.header__phone(href="#")
                        span
                        include ./_icon_phone

                    +button_brown('ОСТАВИТЬ ЗАЯВКУ', 'header__button')

            .header__buttons

                a.header__phone(href="#")
                    span
                    include ./_icon_phone

                +button_brown('ОСТАВИТЬ ЗАЯВКУ', 'header__button')
