.cards {
  padding: 134px 0 256px;

  @include sm {
    padding: 44px 0 156px;
  }

  @include xxs {
    padding: 48px 0 43px;
  }
}

.cards__title {
  margin-bottom: 53px;
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
  text-transform: uppercase;

  @include sm {
    margin-bottom: 40px;
  }

  @include xxs {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
  }
}

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 60px;

  @include r(1900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include r(1499px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
  }

  @include xs {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }

  @include xxs {
    margin-bottom: 38px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color_white);
}

.card__picture {
  height: 185px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__descr {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 25px 24px 30px;
}

.card__intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card__heading {
  margin-bottom: 20px;
  color: var(--color_black);
  font-size: 14px;
  font-family: var(--mulish);
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.card__subheading {
  max-width: 252px;
  margin-bottom: 20px;
  color: var(--color_black);
  font-size: 16px;
  line-height: 26px;
}

.card__text {
  margin-bottom: 20px;
  color: var(--color_grey);
  font-size: 14px;
  line-height: 24px;
}

.card__info {
  margin-bottom: 20px;
  color: var(--color_grey);
  font-size: 12px;
  line-height: 24px;
}

.card__continue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  background-color: var(--color_black);
  transition: var(--transition);

  &:hover,
  &:focus {
    box-shadow: 0 0 15px 2px var(--color_black);
  }
}

.cards__more {
  margin: 0 auto;
  left: -7px;
  padding: 10px 88px;
}
