.header {
  padding: 28px 0;

  @include xxs {
    padding: 15px 0 18px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lg {
    padding: 0 12px;
  }

  @include xxs {
    padding: 0 0 0 3px;
  }
}

.header__panel {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 94px;
  margin-right: 76px;

  @include lg {
    margin-right: 0;
  }

  @include xs {
    flex-grow: 1;
    justify-content: space-between;
  }
}

.header__burger {
  position: relative;
  display: none;
  width: 31px;
  height: 19px;
  cursor: pointer;

  @include lg {
    display: block;
  }

  // @include xxs {
  //   position: relative;
  //   left: 3px;
  // }

  span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color_white);
    border-radius: 3px;
    transition: var(--transition);
  }

  span {
    top: 8px;
  }

  &::before {
    content: "";
    top: 0;
    max-width: 16px;
  }

  &::after {
    content: "";
    bottom: 0;
    max-width: 22px;
  }

  &:hover {
    &::before,
    &::after {
      max-width: 100%;
    }
  }
}

.header__logo {
  display: block;
  width: 156px;
  height: 60px;

  @include xxs {
    width: 112px;
    height: 38px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header__menu {
  flex-grow: 1;

  @include lg {
    position: fixed;
    top: 116px;
    left: -100%;
    width: 100%;
    height: calc(100% - 116px);
    background-color: var(--color_dark_bg);
    overflow: hidden;
    transition: var(--transition);
    // background-color: red;

    &.active {
      transform: translateX(100%);
    }
  }

  @include xxs {
    top: 71px;
    height: calc(100% - 71px);
  }
}

.header__menu-wrapper {
  @include lg {
    height: 100%;
    padding: 0 49px;
    overflow: auto;
  }

  @include xxs {
    padding: 0 18px;
  }
}

.header__list {
  &::after {
    content: "";
    clear: both;
  }

  li {
    position: relative;
    float: left;
    margin-right: 42px;

    @include r(1700px) {
      margin-right: 32px;
    }
  }

  @media (min-width: 1600px) {
    li::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color_white);
      transform: scale(0.9);
      opacity: 0;
      transition: var(--transition);
    }
  }

  li:hover {
    &:before {
      transform: scale(1) translateY(4px);
      opacity: 1;
    }
  }

  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    white-space: nowrap;
  }

  @include lg {
    padding: 59px 0;

    li {
      float: none;
      margin-bottom: 15px;
    }

    a {
      position: relative;
      font-size: 36px;
      color: var(--color_dark_bg);
      transition: var(--transition);

      &::after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        -webkit-text-fill-color: var(--color_dark_bg);
        -webkit-text-stroke: 2px var(--color_font_stroke);
      }

      &:hover {
        color: var(--color_white);
      }
    }
  }

  @include xxs {
    padding: 0 0 35px 0;

    a {
      font-size: 20px;

      &::after {
        -webkit-text-stroke: 1px var(--color_font_stroke);
      }
    }
  }
}

.header__feedback {
  display: none;

  @include xs {
    display: block;
    padding: 0 10px 21px;

    .header__phone {
      width: 100%;
      margin-bottom: 15px;

      span {
        transform: skewX(-19deg);
        background-color: var(--color_dark_bg);
      }
    }

    .header__button {
      position: relative;
      left: 0;
      width: 100%;

      .request__bg {
        width: 100%;
        right: unset;
        transform: skewX(-19deg);
      }

      .request__line {
        display: none;
      }

      .request__text {
        position: relative;
        left: 8px;
      }
    }
  }

  @include xxs {
    .header__phone {
      margin-bottom: 6px;
    }
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 34px;

  @include sm {
    position: relative;
    top: 2px;
    gap: 7px;
  }

  @include xs {
    display: none;
  }
}

.header__phone {
  position: relative;
  width: 74px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    position: relative;
    z-index: 2;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 60px;
    border: 1px solid var(--color_brown);
    transform: skewX(-17deg);
    transition: box-shadow 0.2s ease-out;
    overflow: hidden;
  }

  &:hover span,
  &:focus span {
    box-shadow: 0 0 10px 0 var(--color_brown) inset,
      0 0 20px 2px var(--color_brown);
  }
}

.header__button.request__button {
  padding: 10px 78px;

  @include sm {
    padding: 10px 38px;
  }
}
