.header {
  padding: 28px 0;

  @include xxs {
    padding: 15px 0 18px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lg {
    padding: 0 12px;
  }

  @include xxs {
    padding: 0 0 0 3px;
  }
}

.header__panel {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 94px;
  margin-right: 76px;

  @include lg {
    margin-right: 0;
  }

  @include xs {
    flex-grow: 1;
    justify-content: space-between;
  }
}

.header__burger {
  position: relative;
  display: none;
  width: 31px;
  height: 19px;
  cursor: pointer;

  @include lg {
    display: block;
  }

  // @include xxs {
  //   position: relative;
  //   left: 3px;
  // }

  span,
  &::before,
  &::after {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: var(--color_white);
    border-radius: 3px;
  }

  span {
    top: 8px;
    width: 100%;
  }

  &::before {
    content: "";
    top: 0;
    width: 16px;
  }

  &::after {
    content: "";
    bottom: 0;
    width: 22px;
  }
}

.header__logo {
  display: block;
  width: 156px;
  height: 60px;

  @include xxs {
    width: 112px;
    height: 38px;
  }
}

.header__menu {
  flex-grow: 1;

  @include lg {
    display: none;
  }
}

.header__list {
  &::after {
    content: "";
    clear: both;
  }

  li {
    position: relative;
    float: left;
    margin-right: 42px;

    @include r(1700px) {
      margin-right: 32px;
    }
  }

  @media (min-width: 1600px) {
    li::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color_white);
      transform: scale(0.9);
      opacity: 0;
      transition: var(--transition);
    }
  }

  li:hover {
    &:before {
      transform: scale(1) translateY(4px);
      opacity: 1;
    }
  }

  a {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    white-space: nowrap;
  }
}

.header__feedback {
  display: none;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 34px;

  @include sm {
    position: relative;
    top: 2px;
    gap: 7px;
  }

  @include xs {
    display: none;
  }
}

.header__phone {
  position: relative;
  width: 74px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    border: 1px solid var(--color_brown);
    transform: skewX(-17deg);
  }
}

.header__button.request__button {
  padding: 10px 78px;

  @include sm {
    padding: 10px 38px;
  }
}
