.request__button {
  position: relative;
  left: -10px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;

  .request__text {
    position: relative;
    z-index: 2;
    color: var(--color_white);
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    white-space: nowrap;
    transition: color 0.2s ease-out;
  }

  .request__bg {
    position: absolute;
    right: 10px;
    top: 0;
    width: calc(100% - 20px);
    min-height: 60px;
    background-color: var(--color_brown);
    transform: skewX(-17deg);
    transition: box-shadow 0.2s ease-out;
  }

  .request__line {
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    min-height: 60px;
    background-color: var(--color_white);
    transform: skewX(-17deg);
    transition: box-shadow 0.2s ease-out;
  }

  &:hover {
    .request__text {
      color: #737f96;
    }
    .request__bg {
      box-shadow: inset 100vw 0 0 0 #e1cda8, 0 0 20px 2px var(--color_brown);
    }

    .request__line {
      box-shadow: 0 0 20px 2px var(--color_white);
    }
  }
}
