// Grid
$width_lg: 1170px;
$width_md: 991px;
$width_xs: 767px;
$width_mob: 500px;

$grid-width: 1170px;
$grid-gutter: 30px;
$grid-columns: 12;

// vars
:root {
  // colors
  --color_white: #fff;
  --color_black: #171717;
  --color_dark_bg: #131313;
  --color_brown: #c2ab81;
  --color_grey: #666;
  --color_font_stroke: #808080;

  // fonts
  --montserrat: "Montserrat", sans-serif;
  --mulish: "Mulish", sans-serif;

  // transition
  --transition: all 0.2s ease-out;
}
